body {
    background-color: #233a57; 
  }
h1 {
    color: #7da10e;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    text-align:center;
  }
p {
    color: yellow;
    font-family: monospace;
    text-align: center;
  }
h2 {
    color:#7da10e;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px
}
ul {
    color:#ffff;
    font-family: monospace;
    font-size: 16px
}
ol{
    color:#ffff;
    font-family: monospace;
    font-size: 16px
}